#cleverton
{
    color:white;
    font-size: 30px;
    background-color: purple;
}

#alex
{
    background-color: black;
}

.h
{
    color: white;
    font-size: 45px;
    background-color: blue;
}